version: '3.8'

services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    environment:
      NODE_ENV: production
      PORT: 4200
      DATABASE_URL: ${DATABASE_URL}
      REDIS_URL: ${REDIS_URL}